Project/WatchlistApplication/xml-resources/web-service-references/WatchlistService/wsdl/vigel_8080/WatchlistWebApplication/WatchlistService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ttu.ee/idu0075/2017/ws/wlt" targetNamespace="http://www.ttu.ee/idu0075/2017/ws/wlt">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.ttu.ee/idu0075/2017/ws/wlt" elementFormDefault="qualified">
			
			<xs:complexType name="filmType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="year" type="xs:integer"/>
					<xs:element name="genre" type="xs:string"/>
					<xs:element name="durationInMinutes" type="xs:integer"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="watchlistFilmType">
				<xs:sequence>
					<xs:element name="film" type="tns:filmType"/>
					<xs:element name="dateAdded" type="xs:date"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="watchlistFilmListType">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="watchlistFilm" type="tns:watchlistFilmType"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="watchlistType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="watchlistFilmList" type="tns:watchlistFilmListType"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:element name="getFilmRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getFilmResponse" type="tns:filmType"/>
			
			<xs:element name="addFilmRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="year" type="xs:integer"/>
						<xs:element name="genre" type="xs:string"/>
						<xs:element name="durationInMinutes" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="addFilmResponse" type="tns:filmType"/>
			
			<xs:element name="getFilmListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getFilmListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="film" type="tns:filmType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="addWatchlistFilmRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="filmId" type="xs:integer"/>
						<xs:element name="watchlistId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="addWatchlistFilmResponse" type="tns:watchlistFilmType"/>
			
			<xs:element name="addWatchlistRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="addWatchlistResponse" type="tns:watchlistType"/>
			
			<xs:element name="getWatchlistRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getWatchlistResponse" type="tns:watchlistType"/>
			
			<xs:element name="getWatchlistListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element minOccurs="0" name="isEmpty">
						  <xs:simpleType>
							<xs:restriction base="xs:string">
							  <xs:pattern value="jah|ei"/>
							</xs:restriction>
						  </xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getWatchlistListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="watchlist" type="tns:watchlistType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getWatchlistFilmListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="watchlistId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getWatchlistFilmListResponse" type="tns:watchlistFilmListType"/>
		
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="getFilmMessageRequest">
		<wsdl:part name="parameter" element="tns:getFilmRequest"/>
	</wsdl:message>
	
	<wsdl:message name="getFilmMessageResponse">
		<wsdl:part name="parameter" element="tns:getFilmResponse"/>
	</wsdl:message>
	
	<wsdl:message name="addFilmMessageRequest">
		<wsdl:part name="parameter" element="tns:addFilmRequest"/>
	</wsdl:message>
	
	<wsdl:message name="addFilmMessageResponse">
		<wsdl:part name="parameter" element="tns:addFilmResponse"/>
	</wsdl:message>
	
	<wsdl:message name="getFilmListMessageRequest">
		<wsdl:part name="parameter" element="tns:getFilmListRequest"/>
	</wsdl:message>
	
	<wsdl:message name="getFilmListMessageResponse">
		<wsdl:part name="parameter" element="tns:getFilmListResponse"/>
	</wsdl:message>
	
	<wsdl:message name="addWatchlistFilmMessageRequest">
		<wsdl:part name="parameter" element="tns:addWatchlistFilmRequest"/>
	</wsdl:message>
	
	<wsdl:message name="addWatchlistFilmMessageResponse">
		<wsdl:part name="parameter" element="tns:addWatchlistFilmResponse"/>
	</wsdl:message>
	
	<wsdl:message name="addWatchlistMessageRequest">
		<wsdl:part name="parameter" element="tns:addWatchlistRequest"/>
	</wsdl:message>
	
	<wsdl:message name="addWatchlistMessageResponse">
		<wsdl:part name="parameter" element="tns:addWatchlistResponse"/>
	</wsdl:message>
	
	<wsdl:message name="getWatchlistMessageRequest">
		<wsdl:part name="parameter" element="tns:getWatchlistRequest"/>
	</wsdl:message>
	
	<wsdl:message name="getWatchlistMessageResponse">
		<wsdl:part name="parameter" element="tns:getWatchlistResponse"/>
	</wsdl:message>
	
	<wsdl:message name="getWatchlistListMessageRequest">
		<wsdl:part name="parameter" element="tns:getWatchlistListRequest"/>
	</wsdl:message>
	
	<wsdl:message name="getWatchlistListMessageResponse">
		<wsdl:part name="parameter" element="tns:getWatchlistListResponse"/>
	</wsdl:message>
	
	<wsdl:message name="getWatchlistFilmListMessageRequest">
		<wsdl:part name="parameter" element="tns:getWatchlistFilmListRequest"/>
	</wsdl:message>
	
	<wsdl:message name="getWatchlistFilmListMessageResponse">
		<wsdl:part name="parameter" element="tns:getWatchlistFilmListResponse"/>
	</wsdl:message>
	
	<wsdl:portType name="WatchlistPortType">
		
		<wsdl:operation name="getFilm">
			<wsdl:input message="tns:getFilmMessageRequest"/>
			<wsdl:output message="tns:getFilmMessageResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="addFilm">
			<wsdl:input message="tns:addFilmMessageRequest"/>
			<wsdl:output message="tns:addFilmMessageResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="getFilmList">
			<wsdl:input message="tns:getFilmListMessageRequest"/>
			<wsdl:output message="tns:getFilmListMessageResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="addWatchlistFilm">
			<wsdl:input message="tns:addWatchlistFilmMessageRequest"/>
			<wsdl:output message="tns:addWatchlistFilmMessageResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="addWatchList">
			<wsdl:input message="tns:addWatchlistMessageRequest"/>
			<wsdl:output message="tns:addWatchlistMessageResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="getWatchlist">
			<wsdl:input message="tns:getWatchlistMessageRequest"/>
			<wsdl:output message="tns:getWatchlistMessageResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="getWatchlistList">
			<wsdl:input message="tns:getWatchlistListMessageRequest"/>
			<wsdl:output message="tns:getWatchlistListMessageResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="getWatchlistFilmlist">
			<wsdl:input message="tns:getWatchlistFilmListMessageRequest"/>
			<wsdl:output message="tns:getWatchlistFilmListMessageResponse"/>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="WatchlistBinding" type="tns:WatchlistPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="getFilm">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="addFilm">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getFilmList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="addWatchlistFilm">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="addWatchList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getWatchlist">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		
		<wsdl:operation name="getWatchlistList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getWatchlistFilmlist">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>
	<wsdl:service name="WatchlistService">
		<wsdl:port name="WatchlistPort" binding="tns:WatchlistBinding">
			<soap:address location="http://vigel:8080/WatchlistWebApplication/WatchlistService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>